    @import "compass/css3";
    @import url(https://fonts.googleapis.com/css?family=Finger+Paint);
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
    @import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
    body {
        color: blanchedalmond;
        background-color: rgb(104, 90, 90);
    }
    
    .container-fluid {
        background-color: rgb(31, 30, 30);
        color: blanchedalmond;
        height: 60px;
    }
    
    footer {
        position: relative;
        width: 100%;
        background-color: rgb(104, 90, 90);
        color: white;
        text-align: center;
    }
    
    .footer-social-links {
        font-size: 14px;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .footer-social-links a {
        width: 30px;
        height: 30px;
        line-height: 25px !important;
        position: relative;
        margin: 0 5px;
        text-align: center;
        display: inline-block;
        color: #111;
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    
    .footer-social-links a i,
    .footer-social-links a span {
        position: relative;
        top: 2px;
        left: 1px;
    }
    
    .footer-social-links a:before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #111;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
        transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    }
    
    .footer-social-links a:hover {
        color: #fff;
    }
    
    .footer-social-links a:hover:before {
        background: #111;
    }
    /*css for icons*/
    /* css for card*/
    /*.container {
        display: flex;
        /*flex-wrap: wrap;
            align-items: center;*
        justify-content: center;
        width: 100%;
        margin: 25px 0 15px;
    }
     
    /* main card css*/
    
    .card_container {
        position: relative;
        width: 1300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-warp: warp;
        padding: 30px;
        margin-top: 40px;
    }
    
    .card_container .card {
        position: relative;
        max-width: 300px;
        height: 320px;
        background-color: rgb(14, 13, 13);
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
        transition: 0.3s ease-in-out;
        border-radius: 15px;
    }
    
    .card_container .card:hover {
        height: 350px;
    }
    
    .card_container .card .image {
        position: relative;
        width: 260px;
        height: 260px;
        top: -40%;
        left: 8px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .card_container .card .image img {
        max-width: 100%;
        width: 260px;
        height: 260px;
        border-radius: 15px;
        opacity: 50%;
    }
    
    .card_container .card .image img:hover {
        opacity: 100%;
        transition: opacity 2s
    }
    
    .card_container .card .content {
        position: relative;
        top: -115px;
        padding: 10px 15px;
        color: #fff;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
    }
    
    .card_container .card:hover .content {
        margin-top: 30px;
        visibility: visible;
        opacity: 1;
        transition-delay: 0.2s;
    }
    /*info animation*/
    
    .Info_container {
        background: black;
        overflow: hidden;
        font: 5vw/100vh "Finger Paint";
        text-align: center;
        color: transparent;
        backface-visibility: hidden;
    }
    
    span {
        display: inline-block;
        text-shadow: 0 0 0 whitesmoke;
        animation: smoky 5s 3s both;
    }
    
    span:nth-child(even) {
        animation-name: smoky-mirror;
    }
    
    @keyframes smoky {
        60% {
            text-shadow: 0 0 40px whitesmoke;
        }
        to {
            transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            text-shadow: 0 0 20px whitesmoke;
            opacity: 0;
        }
    }
    
    @keyframes smoky-mirror {
        60% {
            text-shadow: 0 0 40px whitesmoke;
        }
        to {
            transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            text-shadow: 0 0 20px whitesmoke;
            opacity: 0;
        }
    }
    
    @for $item from 1 through 21 {
        span:nth-of-type(#{$item}) {
            animation-delay: #{(3 + ($item/10))}s;
        }
    }
    /*contact us page*/
    
    main {
        width: 100%;
        background-image: linear-gradient( 115deg, rgba(0, 35, 115, 0.8), rgba(65, 18, 117, 0.7)), url("https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .form {
        background: linear-gradient( 115deg, rgba(0, 25, 82, 0.8), rgba(32, 4, 64, 0.7));
        margin: 0 auto;
        width: 40%;
    }
    
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        flex-direction: column;
        padding: 50px 0 20px 0;
    }
    
    #title {
        font-family: 'Pacifico', cursive;
        font-size: 3rem;
    }
    
    #description {
        font-style: italic;
        padding: 5px;
    }
    
    #survey-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        margin: 0 auto;
        width: 50%;
    }
    
    .uno {
        padding: 10px;
    }
    
    #name,
    #email,
    #number,
    #phone,
    #dropdown,
    #submit {
        width: 80%;
        height: 40px;
        font-size: 1rem;
        border: transparent;
        border-radius: 5px;
        padding-left: 5px;
    }
    
    input[type="radio"] {
        width: 50px;
        height: 20px;
        cursor: pointer;
    }
    
    .check {
        display: flex;
        flex-direction: column;
    }
    
    #message {
        width: 80%;
        height: 100px;
        font-size: 1rem;
        border: transparent;
        border-radius: 5px;
        padding-left: 5px;
    }
    
    .submit {
        margin: 20px;
    }
    
    .submit:hover {
        background-color: rgb(11, 11, 94);
        color: burlywood;
    }
    /*popup*/
    
    .r-title {
        margin-top: var(--rTitleMarginTop, 0) !important;
        margin-bottom: var(--rTitleMarginBottom, 0) !important;
    }
    /* 
        helper to hide elements that are available only for screen readers. 
        */
    
    .screen-reader {
        width: var(--screenReaderWidth, 1px) !important;
        height: var(--screenReaderHeight, 1px) !important;
        padding: var(--screenReaderPadding, 0) !important;
        border: var(--screenReaderBorder, none) !important;
        position: var(--screenReaderPosition, absolute) !important;
        clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
        overflow: var(--screenReaderOverflow, hidden) !important;
    }
    /*
        =====
        POPUP
        =====
        */
    /*
        1. Creating the top and bottom gaps for the modal so that content doesn't touches window's edges
        */
    
    .popup:not(:target) {
        display: none;
    }
    
    .popup:target {
        width: 100%;
        height: 100vh;
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
    }
    
    .popup::before {
        content: "";
        box-sizing: border-box;
        width: 100%;
        background-color: rgb(117, 114, 114);
        position: fixed;
        left: 0;
        top: 50%;
    }
    
    .popup::after {
        content: "";
        width: 0;
        height: 2px;
        background-color: #1f1e1e;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
    }
    
    .popup__container {
        box-sizing: border-box;
        padding: 5% 15%;
        height: calc(100vh - 40px);
        /* 1 */
        margin: auto;
        /* 1 */
        overflow: auto;
        /* 1 */
        overscroll-behavior: contain;
        /* 1 */
    }
    
    .popup__title {
        --rTitleMarginBottom: 1.5rem;
        font-size: 1.5rem;
    }
    
    .popup__close {
        width: 2rem;
        height: 2rem;
        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE5IDYuNDFMMTcuNTkgNSAxMiAxMC41OSA2LjQxIDUgNSA2LjQxIDEwLjU5IDEyIDUgMTcuNTkgNi40MSAxOSAxMiAxMy40MSAxNy41OSAxOSAxOSAxNy41OSAxMy40MSAxMnoiLz4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==);
    }
    /*
        animation
        */
    
    .popup::before {
        will-change: height, top;
        animation: open-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) .65s both;
    }
    
    .popup::after {
        will-change: width, opacity;
        animation: line-animation .6s cubic-bezier(0.83, 0.04, 0, 1.16) both;
    }
    
    @keyframes line-animation {
        0% {
            width: 0;
            opacity: 1;
        }
        99% {
            width: 100%;
            opacity: 1;
        }
        100% {
            width: 100%;
            opacity: 0;
        }
    }
    
    @keyframes open-animation {
        0% {
            height: 0;
            top: 50%;
        }
        100% {
            height: 100vh;
            top: 0;
        }
    }
    
    .popup__container {
        animation: fade .5s ease-out 1.3s both;
    }
    
    @keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    /*character card*/
    
    .hero-section {
        align-items: flex-start;
        /*background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);*/
        display: flex;
        min-height: 100%;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 30px;
        ;
    }
    
    .Icard-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: var(--spacing-l);
        grid-row-gap: var(--spacing-l);
        max-width: var(--width-container);
        width: 100%;
    }
    
    @media(min-width: 540px) {
        .Icard-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media(min-width: 960px) {
        .Icard-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    .Icard {
        list-style: none;
        position: relative;
        border-radius: 2em;
        padding-left: 10px;
        padding-right: 10px;
        ;
    }
    
    .Icard:before {
        content: '';
        display: block;
        padding-bottom: 150%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .Icard__background {
        background-size: cover;
        background-position: center;
        border-radius: 2em;
        padding-left: 20px;
        padding-right: 20px;
        bottom: 0;
        filter: brightness(0.75) saturate(1.2) contrast(0.85);
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: center;
        trsnsform: scale(1) translateZ(0);
        transition: filter 200ms linear, transform 200ms linear;
    }
    
    .Icard:hover .Icard__background {
        transform: scale(1.05) translateZ(0);
    }
    
    .Icard-grid:hover>I.card:not(:hover) .Icard__background {
        filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
    }
    
    .Icard__content {
        left: 0;
        padding: 15px;
        position: absolute;
        top: 0;
    }
    
    .Icard__category {
        color: aliceblue;
        font-size: 0.9rem;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    
    .Icard__heading {
        color: aliceblue;
        font-size: 1.9rem;
        text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
        line-height: 1.4;
        word-spacing: 100vw;
    }
